textarea:focus,
input:focus {
  outline: none;
}
#header_logo {
  display: flex;
  justify-content: center;
}
.nav_top {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.banner {
  position: relative;
  padding: 0%;
  margin: 0%;
}
.banner_image {
  display: flex;
  width: 100%;
  align-items: center;
}
.banner_caption {
  position: absolute;
  width: 65%;
  top: 0px;
  left: 20px;
}
.banner_caption_top {
  font-size: clamp(1rem, 5vw, 3em);
  font-weight: bold;
}
.banner_caption_down {
  font-size: clamp(0.2rem, 3vw, 2rem);
  word-spacing: 0.3em;
}
#company_text {
  text-align: center;
}
#company_text_heading {
  font-size: 3em;
}
li {
  float: left;
}

li a {
  text-decoration: none;
  color: #1b3057;
  text-align: center;
  font-size: 120%;
  font-family: sans-serif;
  font-weight: bold;
}
li a:hover {
  color: white;
  background-color: #152542;
  padding: 1em;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
a:link {
  text-decoration: none;
}
.nav_down {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.caption {
  font-family: sans-serif;
  font-size: 100%;
  color: #1b3057;
  margin-left: 1em;
}

.company {
  background-color: #1b3057;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em;
  font-size: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f5f7fa;
  gap: 2em;
  padding: 2em;
  width: auto;
}

.parent_child {
  border-radius: 8%;
  background-color: white;
  padding: 2em 1em;
  text-align: center;
}
.parent_card {
  object-fit: contain;
  width: 15vw;
  height: 12vh;
}

.parent_child_img_cap {
  font-family: arial;
  font-size: 1.8em;
  font-weight: bold;
}

.footer_area {
  background-color: #1f3661;
  padding: 4em;
  color: #152542;
}

.footer_form_container {
  background-color: rgb(180, 196, 230);
  padding: 2em 0 2em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer_form_container_finding {
  align-self: center;
}

.footer_form_container_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.footer_form_container_feedback_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19vw;
  height: 5vh;
  background-color: white;
  border: 2px solid black;
}
.footer_form_container_feedback_styling {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 1em;
}

#message {
  grid-row: 2/4;
  grid-column: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 2px solid #152542;
  align-items: flex-start;
}

#btn1 {
  grid-column: 1/3;
  grid-row: 3;
  font-weight: bold;
  font-size: 1em;
  background-color: #152542;
  color: white;
  height: 2.5em;
}
#btn1:hover {
  background-color: white;
  color: #152542;
}

.footer_lower_end {
  color: white;
  list-style: none;
  font-size: 110%;
  background-color: #1f3661;
  text-decoration: none;
  padding: 1.5em 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  flex-wrap: wrap;
}

.arrow {
  padding-top: 150%;
}

input[type="text"] {
  background-color: white;
}
.footer_lower {
  padding: 0;
}

#where {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 280%;
  padding-top: 0.3em;
  background-color: #f5f7fa;
}

.input-icon {
  width: 2em;
}

.footer_form_container_feedback_input{
  border: none;
  width: 100%;
}

.footer_lower_logo {
  list-style-type: none;
  background-color: #1f3661;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  flex-wrap: wrap;
}

.tags {
  padding: 1em;
  color: #f5f7fa;
}

.footer_lower_image_social{
  height: 3vh;
  width: 2vw;
  padding-left: 2em;
}

#footer_lower_copyright {
  font-weight: bold;
  padding-left: 1.5em;
  color: rgb(85, 132, 186);
  display: flex;
  justify-content: last baseline;
  align-items: last baseline;
}

.find {
  font-size: 150%;
}

.quote {
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

/*For the tablet responsive screen.*/

@media (max-width: 800px){

   .footer_form_container {
    background-color: rgb(180, 196, 230);
    padding: 1em;
    filter: blur(0.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer_form_container_feedback_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 5vh;
  background-color: white;
  border: 1px solid black;
}
 
  .footer_form_container_feedback_styling {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
} 
#message {
  grid-row: 2/4;
  grid-column: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #152542;
  align-items: flex-start;
  height: 12vh;
}
}

/* For the mobile 425px responsive screen*/

@media (max-width: 450px) {
  .nav_top {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
  }
  li,
  li a {
  }

  .company {
    background-color: #1b3057;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 1.2em 1.8em;
    font-size: 30%;
  }

  .arrow {
    padding-top: 50%;
  }

  #where {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
    padding-top: 0.6em;
    background-color: #f5f7fa;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f5f7fa;
    padding: 1em 1em;
    gap: 1em;
  }

  .parent_child {
    border-radius: 8%;
    background-color: white;
    padding: 1em 1em;
    text-align: center;
  }

  .parent_child_img_cap {
    font-family: arial;
    font-size: 0.5em;
    font-weight: bold;
  }

  .footer_form_container {
    background-color: rgb(180, 196, 230);
    padding: 0.5em;
    filter: blur(0.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer_form_container_feedback_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 5vh;
  background-color: white;
  border: 1px solid black;
}
 
  .footer_form_container_feedback_styling {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  
}

  .quote {
    font-size: 100%;
  }

  .find {
    font-size: 80%;
  }

  #footer_form_container_finding {
    align-self: center;
    margin-left: 1em;
    padding: 1em;
  }

  .footer_lower_end {
    color: white;
    font-size: 65%;
    background-color: #1f3661;
    text-decoration: none;
    padding: 2em 1.8em;
  }

  #footer_lower_copyright {
    font-weight: bold;
    font-size: 20%;
    color: rgb(85, 132, 186);
    padding-left: 6em;
  }

  .footer_lower_logo {
    background-color: #1f3661;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left:1rem;
  }

  .footer_lower_image_social{
    height: 6vh;
    width: 4vw;
  }

  .footer_lower {
    padding-top: 0%;
    margin-top: 0%;
  }
  .footer_area {
  background-color: #1f3661;
  color: #152542;
  padding: 0%;
}  
}
